/*
 __      __                 _           _       _              
 \ \    / /                (_)         | |     | |             
  \ \  / /    __ _   _ __   _    __ _  | |__   | |   ___   ___ 
   \ \/ /    / _` | | '__| | |  / _` | | '_ \  | |  / _ \ / __|
    \  /    | (_| | | |    | | | (_| | | |_) | | | |  __/ \__ \
     \/      \__,_| |_|    |_|  \__,_| |_.__/  |_|  \___| |___/
                                                               
                                                               
*/

:root{
  --main-font:'Trebuchet', sans-serif;
  --main-bg-color:#242424;

  --main-text-color:white;

  --interactable-bg-color:#383b3f;

  --link-color:#63ceff;

  --placeholder-color:#878787;
}

/*
  ____                            _____   _             _   _                 
 |  _ \                          / ____| | |           | | (_)                
 | |_) |   __ _   ___    ___    | (___   | |_   _   _  | |  _   _ __     __ _ 
 |  _ <   / _` | / __|  / _ \    \___ \  | __| | | | | | | | | | '_ \   / _` |
 | |_) | | (_| | \__ \ |  __/    ____) | | |_  | |_| | | | | | | | | | | (_| |
 |____/   \__,_| |___/  \___|   |_____/   \__|  \__, | |_| |_| |_| |_|  \__, |
                                                 __/ |                   __/ |
                                                |___/                   |___/ 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*            
  __  __           _       _   _             _____   _             _   _                 
 |  \/  |         | |     (_) | |           / ____| | |           | | (_)                
 | \  / |   ___   | |__    _  | |   ___    | (___   | |_   _   _  | |  _   _ __     __ _ 
 | |\/| |  / _ \  | '_ \  | | | |  / _ \    \___ \  | __| | | | | | | | | | '_ \   / _` |
 | |  | | | (_) | | |_) | | | | | |  __/    ____) | | |_  | |_| | | | | | | | | | | (_| |
 |_|  |_|  \___/  |_.__/  |_| |_|  \___|   |_____/   \__|  \__, | |_| |_| |_| |_|  \__, |
                                                            __/ |                   __/ |
                                                           |___/                   |___/ 
*/

@font-face {
  font-family: Trebuchet;
  src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
  font-weight: bold;
}

/* Main body of each page */
body{
  font-family:var(--main-font);
  background-color:var(--main-bg-color);
}

/* Headers */
h1{
  font-size:20vw;
  color:var(--main-text-color);
  text-align:center;
}

h2{
  font-size:10vw;
  color:var(--main-text-color);
  text-align:center;
}

h3{
  text-align:center;
  color:white;
  font-size:4vw;
  margin-top:2vw;
  margin-bottom:2vw;
}

/* Links */
a{
  color:var(--link-color);
}

.index-signin{
  position:relative;
  font-size:7vw;
  color:var(--link-color);
  padding-right:3vw;
  padding-left:3vw;
  padding-bottom:1vw;
  text-decoration:none;
  background-color:#383b3f;
  border:none;
  box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
}

.user_bar{
  background-color:var(--interactable-bg-color);
  text-align:center;
  padding:2%;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  text-decoration:none;
  margin-right:1vw;
  display:inline-block;
  font-size:7vw;
}

/* Main page app icons */
.icon-list{
  text-align:center;
}

.icon{
  position:relative;
  font-size:7vw;
  margin:2vw;
  width:45vw;
  height:45vw;
  background-repeat:no-repeat;
  background-position:center;
  background-size:80%;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
  border-radius:5vw;
	border: none;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.num_notifications{
  font-size:3vw;
  background-color:red;
  border-radius:1vw;
  width:10vw;
  padding-top:1vw;
  padding-bottom:1vw;
  margin-left:17.5vw;
}

/* Notifications */
.notification{
  width:104%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-bg-color);
}

.notification_text{
  color:white;
  font-size:5vw;
  padding-bottom:3vw;
  padding-top:2vw;
}

.mark_as_seen[type=submit]{
  background-color:#81c281;
  font-size:5vw;
}

.remove_notification[type=submit]{
  background-color:#da7a7a;
  font-size:5vw;
}

/* Input types */
::placeholder{
  color:var(--placeholder-color);
  padding-left:2vw;
}

input[type=text]{
  width:100%;
  font-size:8vw;
  border:none;
  border-bottom:0.5vw #717780;
  padding-top:2.5vw;
  padding-bottom:2.5vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

input[type=submit]{
  width:100%;
  font-size:8vw;
  border:none;
  padding:2vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

textarea{
  font-family: Trebuchet;
  src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
  width:100%;
  background-color:var(--interactable-bg-color);
  font-size:5vw;
  border:none;
  border-bottom:0.5vw solid #717780;
}

button{
  width:100%;
  font-size:8vw;
  border:none;
  padding:2vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

/* Forums */
.browse_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.search_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.new_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
}

.synthetic{
  
}

.synthetic_message[type=text]{
  
}

.synthetic_check{
  
}

.synthetic_submit[type=submit]{
  
}

/* Sign In/Up */
.signup_form{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.new_user_prompt{
  background-color:var(--interactable-bg-color);
  text-align:center;
  font-size:5vw;
  padding:2%;
  width:50%;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  margin-left:23%;
  color:white;
}

.sign_in_prompt{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  color:white;
  font-size:7vw;
}

/* Task Manager */
.create_task{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.task{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  background-color:var(--interactable-bg-color);
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.task_edit[type=submit]{
  width:50%;
  display:inline-block;
  background-color:#81c281;
  font-size:5vw;
}

.task_delete[type=submit]{
  width:50%;
  display:inline-block;
  background-color:rgb(218, 122, 122);
  font-size:5vw;
}

.task_title{
  font-size:10vw;
  color:white;
  box-shadow:0 0.5vw 2vw rgba(0, 0, 0, 0.1);
  margin-bottom:2vw;
}

.task_notes{
  color:white;
  font-size:5vw;
  margin-bottom:2vw;
}

/* Profile */
.profile{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.profile_name{
  width:90%;
  margin-left:5%;
  color:white;
  text-align:center;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  font-size:5vw;
  padding-top:2vw;
  padding-bottom:2vw;
}