/*
 __      __                 _           _       _              
 \ \    / /                (_)         | |     | |             
  \ \  / /    __ _   _ __   _    __ _  | |__   | |   ___   ___ 
   \ \/ /    / _` | | '__| | |  / _` | | '_ \  | |  / _ \ / __|
    \  /    | (_| | | |    | | | (_| | | |_) | | | |  __/ \__ \
     \/      \__,_| |_|    |_|  \__,_| |_.__/  |_|  \___| |___/
                                                               
                                                               
*/

:root{
  --main-font:'Trebuchet', sans-serif;
  --main-bg-color:#242424;

  --main-text-color:white;

  --interactable-bg-color:#383b3f;

  --interactable-positive-bg-color:#81c281;
  --interactable-neutral-bg-color:#37c6ff;
  --interactable-negative-bg-color:#da7a7a;

  --link-color:#63ceff;

  --placeholder-color:#878787;
}

/*
  ____                            _____   _             _   _                 
 |  _ \                          / ____| | |           | | (_)                
 | |_) |   __ _   ___    ___    | (___   | |_   _   _  | |  _   _ __     __ _ 
 |  _ <   / _` | / __|  / _ \    \___ \  | __| | | | | | | | | | '_ \   / _` |
 | |_) | | (_| | \__ \ |  __/    ____) | | |_  | |_| | | | | | | | | | | (_| |
 |____/   \__,_| |___/  \___|   |_____/   \__|  \__, | |_| |_| |_| |_|  \__, |
                                                 __/ |                   __/ |
                                                |___/                   |___/ 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*            
  __  __           _       _   _             _____   _             _   _                 
 |  \/  |         | |     (_) | |           / ____| | |           | | (_)                
 | \  / |   ___   | |__    _  | |   ___    | (___   | |_   _   _  | |  _   _ __     __ _ 
 | |\/| |  / _ \  | '_ \  | | | |  / _ \    \___ \  | __| | | | | | | | | | '_ \   / _` |
 | |  | | | (_) | | |_) | | | | | |  __/    ____) | | |_  | |_| | | | | | | | | | | (_| |
 |_|  |_|  \___/  |_.__/  |_| |_|  \___|   |_____/   \__|  \__, | |_| |_| |_| |_|  \__, |
                                                            __/ |                   __/ |
                                                           |___/                   |___/ 
*/

@font-face {
  font-family: Trebuchet;
  src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
  font-weight: bold;
}

/* Main body of each page */
body{
  font-family:var(--main-font);
  background-color:var(--main-bg-color);
}

/* Headers */
h1{
  font-size:20vw;
  color:var(--main-text-color);
  text-align:center;
}

.h1_notifications{
  font-size:17vw;
}

h2{
  font-size:10vw;
  color:var(--main-text-color);
  text-align:center;
}

h3{
  text-align:center;
  color:white;
  font-size:4vw;
  margin-top:2vw;
  margin-bottom:2vw;
}

h4{
  font-family: Trebuchet;
}

/* Links */
a{
  color:var(--link-color);
}

.index-signin{
  position:relative;
  font-size:7vw;
  color:var(--link-color);
  padding-right:3vw;
  padding-left:3vw;
  padding-bottom:1vw;
  text-decoration:none;
  background-color:#383b3f;
  border:none;
  box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
}

.user_bar{
  background-color:var(--interactable-bg-color);
  text-align:center;
  padding:2%;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  text-decoration:none;
  margin-right:1vw;
  display:inline-block;
  font-size:7vw;
  cursor:pointer;
}

/* Main page app icons */
.icon-list{
  text-align:center;
}

.icon{
  position:relative;
  font-size:7vw;
  margin:2vw;
  width:45vw;
  height:45vw;
  background-repeat:no-repeat;
  background-position:center;
  background-size:80%;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
  border-radius:5vw;
	border: none;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.num_notifications{
  font-size:8vw;
  background-color:var(--interactable-negative-bg-color);
  width:100%;
  padding-top:1vw;
  padding-bottom:1vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

/* Notifications */
.notification{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-bg-color);
}

.notification[type=submit]{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-bg-color);
}

.notification_text{
  color:white;
  font-size:5vw;
  padding-bottom:3vw;
  padding-top:2vw;
}

.mark_as_seen[type=submit]{
  background-color:var(--interactable-positive-bg-color);
  font-size:5vw;
}

.remove_notification[type=submit]{
  background-color:var(--interactable-negative-bg-color);
  font-size:5vw;
}

.no_notifications{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-bg-color);
  color:white;
  font-size:5vw;
  padding-top:2vw;
  padding-bottom:2vw;
}

/* Input types */
::placeholder{
  color:var(--placeholder-color);
  padding-left:2vw;
}

input[type=text]{
  width:100%;
  font-size:8vw;
  border:none;
  border-bottom:0.5vw solid #717780;
  padding-top:2.5vw;
  padding-bottom:2.5vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

input[type=submit]{
  width:100%;
  font-size:8vw;
  border:none;
  padding:2vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

textarea{
  font-family: Trebuchet;
  src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
  width:100%;
  background-color:var(--interactable-bg-color);
  font-size:5vw;
  border:none;
  border-bottom:0.5vw solid #717780;
}

button{
  width:100%;
  font-size:8vw;
  border:none;
  padding:2vw;
  background-color:var(--interactable-bg-color);
  color:var(--main-text-color);
}

/* Forums */
.browse_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.browse_results{
  width:90%;
  margin-left:5%;
  text-align:center;
}

.search_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.new_menu{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
}

.hide_synthetic[type=submit]{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-negative-bg-color);
  font-size:7vw;
}

.unhide_synthetic[type=submit]{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  background-color:var(--interactable-positive-bg-color);
  font-size:7vw;
}

.author{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  background-color:var(--interactable-bg-color);
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  font-size:7vw;
  color:white;
  padding-top:2vw;
  padding-bottom:2vw;
}

.post{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  background-color:var(--interactable-bg-color);
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  font-size:5vw;
  color:white;
  padding-top:2vw;
  padding-bottom:2vw;
}

.comments{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  background-color:var(--interactable-bg-color);
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  font-size:5vw;
  color:white;
  padding-top:1vw;
  padding-bottom:2vw;
}

.comment{
  margin-top:1vw;
  margin-bottom:1vw;
  box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
  width:95%;
  margin-left:2.5%;
  background-color:var(--main-bg-color);
  padding-top:1vw;
  padding-bottom:1vw;
}

.comment_field[type=text]{
  background-color:var(--main-bg-color);
  width:95%;
  font-size:5vw;
}

.submit_comment[type=submit]{
  background-color:var(--interactable-positive-bg-color);
  margin-bottom:5vw;
  width:95%;
  font-size:5vw;
}

.images{
  font-size:2vw;
  margin-top:2vw;
}

img{
  width:45%;
  height:auto;
  display:inline-block;
  margin-right:1vw;
  margin-left:1vw;
  margin-bottom:1vw;
  box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
}

/* Sign In/Up */
.signup_form{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.new_user_prompt{
  background-color:var(--interactable-bg-color);
  text-align:center;
  font-size:5vw;
  padding:2%;
  width:50%;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  margin-left:23%;
  color:white;
}

.sign_in_prompt{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  color:white;
  font-size:7vw;
}

/* Task Manager */
.create_task{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.task{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
  background-color:var(--interactable-bg-color);
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.task_create[type=submit]{
  width:100%;
  background-color:var(--interactable-positive-bg-color);
  font-size:7vw;
  border:none;
  color:white;
}

.task_add[type=button]{
  width:49.2%;
  background-color:var(--interactable-neutral-bg-color);
  font-size:7vw;
  border:none;
  color:white;
  border-radius:0;
}

.task_remove[type=button]{
  width:49.2%;
  background-color:var(--interactable-negative-bg-color);
  font-size:7vw;
  border:none;
  color:white;
  border-radius:0;
}

.task_edit[type=submit]{
  width:50%;
  display:inline-block;
  background-color:var(--interactable-positive-bg-color);
  font-size:5vw;
}

.task_delete[type=submit]{
  width:50%;
  display:inline-block;
  background-color:var(--interactable-negative-bg-color);
  font-size:5vw;
}

.task_title{
  font-size:10vw;
  color:white;
  box-shadow:0 0.5vw 2vw rgba(0, 0, 0, 0.1);
  margin-bottom:2vw;
}

.task_notes{
  color:white;
  font-size:5vw;
  margin-bottom:2vw;
}

/* Profile */
.profile{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

.profile_name{
  width:90%;
  margin-left:5%;
  color:white;
  text-align:center;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  font-size:5vw;
  padding-top:2vw;
  padding-bottom:2vw;
}

.history{
  width:90%;
  margin-left:5%;
  text-align:center;
  margin-top:5vw;
  margin-bottom:5vw;
}

/* Calculator */
.calculator{
  width:90%;
  margin-left:5%;
  overflow:hidden;
  white-space:nowrap;
}

.calculator_button{
  width:25%;
  height:20vw;
  display:inline-block;
  margin-bottom:1vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.calculator_clear_button{
  width:100%;
  height:15vw;
  display:inline-block;
  margin-bottom:1vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.calculator_basic_operation_button{
  width:25%;
  height:15vw;
  display:inline-block;
  margin-bottom:1vw;
  box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
}

.calculator_result{
  margin-bottom:2vw;
}

/*
  ____     ____     ____    _             _   _                 
 |  _ \   / ___|   / ___|  | |_   _   _  | | (_)  _ __     __ _ 
 | |_) | | |       \___ \  | __| | | | | | | | | | '_ \   / _` |
 |  __/  | |___     ___) | | |_  | |_| | | | | | | | | | | (_| |
 |_|      \____|   |____/   \__|  \__, | |_| |_| |_| |_|  \__, |
                                  |___/                   |___/ 
*/
@media only screen and (orientation: landscape) {

  @font-face {
    font-family: Trebuchet;
    src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
    font-weight: bold;
  }

  /* Main body of each page */
  body{
    font-family:var(--main-font);
    background-color:var(--main-bg-color);
  }

  /* Headers */
  h1{
    font-size:8vw;
    color:var(--main-text-color);
    text-align:center;
  }

  h2{
    font-size:4vw;
    color:var(--main-text-color);
    text-align:center;
  }

  h3{
    font-size:2vw;
    color:var(--main-text-color);
    text-align:center;
    margin-top:2vw;
    margin-bottom:2vw;
  }

  h4{
    font-family: Trebuchet;
    position:absolute;
    width:100%;
    left:0%;
    top:35%;
  }

  h5{
    font-family: Trebuchet;
    font-size:2vw;
  }

  /* Links */
  a{
    color:var(--link-color);
    cursor:pointer;
  }

  .index-signin{
    position:relative;
    font-size:2vw;
    color:var(--link-color);
    padding:0;
    padding-right:1vw;
    padding-left:1vw;
    text-decoration:none;
    background-color:#383b3f;
    border:none;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    cursor:pointer;
  }

  .user_bar{
    background-color:var(--interactable-bg-color);
    text-align:center;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    padding-right:1vw;
    padding-left:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    text-decoration:none;
    margin-right:0.1vw;
    display:inline-block;
    font-size:1vw;
    cursor:pointer;
  }

  /* Main page app icons */
  .icon-list{
    text-align:center;
    margin-top:7vw;
  }

  .icon{
    position:relative;
    font-size:1.5vw;
    margin:2vw;
    width:10vw;
    height:10vw;
    background-repeat:no-repeat;
    background-position:center;
    background-size:80%;
    background-color:var(--interactable-bg-color);
    color:var(--main-text-color);
    border-radius:1vw;
    border: none;
    box-shadow:0px 0px 2vw rgba(0, 0, 0, 0.25);
    text-align:center;
    cursor:pointer;
  }

  .num_notifications{
    font-size:1vw;
    background-color:var(--interactable-negative-bg-color);
    width:80%;
    margin-left:10%;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
  }

  /* Notifications */
  .notification{
    width:26.5%;
    margin-left:5%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    background-color:var(--interactable-bg-color);
    display:inline-block;
    padding-bottom:1vw;
  }

  .notification[type=submit]{
    width:90%;
    margin-left:5%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    background-color:var(--interactable-bg-color);
    cursor:pointer;
  }

  .notification_text{
    color:white;
    font-size:2vw;
    padding-bottom:1vw;
    padding-top:1vw;
  }

  .mark_as_seen[type=submit]{
    background-color:var(--interactable-positive-bg-color);
    font-size:1.5vw;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    cursor:pointer;
  }

  .remove_notification[type=submit]{
    background-color:var(--interactable-negative-bg-color);
    font-size:1.5vw;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    cursor:pointer;
  }

  .no_notifications{
    width:90%;
    margin-left:5%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
    background-color:var(--interactable-bg-color);
    color:white;
    font-size:5vw;
    padding-top:2vw;
    padding-bottom:2vw;
  }

  /* Input types */
  ::placeholder{
    color:var(--placeholder-color);
    padding-left:0.5vw;
  }

  input[type=text]{
    width:50%;
    font-size:2vw;
    border:none;
    border-bottom:0.1vw solid #717780;
    padding:0;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    background-color:var(--interactable-bg-color);
    color:var(--main-text-color);
  }

  input[type=submit]{
    width:50%;
    font-size:2vw;
    border:none;
    padding:0.5vw;
    background-color:var(--interactable-bg-color);
    color:var(--main-text-color);
    cursor:pointer;
  }

  input[type=checkbox]{
    width:1.5vw;
    height:1.5vw;
    cursor:pointer;
  }

  textarea{
    font-family: Trebuchet;
    src: local("Trebuchet MS"), url(fonts/trebuc.ttf);
    width:50%;
    background-color:var(--interactable-bg-color);
    font-size:2vw;
    border:none;
    border-bottom:0.1vw solid #717780;
    color:var(--main-text-color);
  }

  button{
    width:100%;
    font-size:8vw;
    border:none;
    padding:2vw;
    background-color:var(--interactable-bg-color);
    color:var(--main-text-color);
    cursor:pointer;
  }

  /* Forums */
  .browse_menu{
    width:90%;
    margin-left:5%;
    text-align:center;
    margin-top:3vw;
    margin-bottom:3vw;
  }
  
  .browse_results{
    width:90%;
    margin-left:5%;
    text-align:center;
  }

  .search_menu{
    width:90%;
    margin-left:5%;
    text-align:center;
    margin-top:3vw;
    margin-bottom:3vw;
  }

  .new_menu{
    width:90%;
    margin-left:5%;
    text-align:center;
    margin-top:3vw;
  }

  .hide_synthetic[type=submit]{
    width:20%;
    margin-left:40%;
    text-align:center;
    margin-top:1vw;
    margin-bottom:5vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    background-color:var(--interactable-negative-bg-color);
    font-size:1.5vw;
    cursor:pointer;
  }

  .unhide_synthetic[type=submit]{
    width:20%;
    margin-left:40%;
    text-align:center;
    margin-top:1vw;
    margin-bottom:5vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    background-color:var(--interactable-positive-bg-color);
    font-size:1.5vw;
    cursor:pointer;
  }

  .author{
    width:20%;
    margin-left:40%;
    text-align:center;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:var(--interactable-bg-color);
    box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
    font-size:1.5vw;
    color:white;
    padding-top:1vw;
    padding-bottom:1vw;
  }

  .post{
    width:80%;
    margin-left:10%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    background-color:var(--interactable-bg-color);
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    font-size:2vw;
    color:white;
    padding-top:1vw;
    padding-bottom:1vw;
  }

  .comments{
    width:80%;
    margin-left:10%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    background-color:var(--interactable-bg-color);
    box-shadow:0px 0px 3vw rgba(0, 0, 0, 0.25);
    color:white;
    padding-top:1vw;
    padding-bottom:2vw;
  }

  .comment{
    margin-top:1vw;
    margin-bottom:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    width:90%;
    margin-left:5%;
    background-color:var(--main-bg-color);
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:2vw;
    line-height:150%;
  }

  .comment_field[type=text]{
    background-color:var(--main-bg-color);
    width:90%;
    font-size:2vw;
  }

  .submit_comment[type=submit]{
    background-color:var(--interactable-positive-bg-color);
    margin-bottom:2vw;
    width:90%;
    font-size:2vw;
    cursor:pointer;
  }

  .images{
    font-size:1vw;
    margin-top:2vw;
  }

  img{
    width:30%;
    height:auto;
    display:inline-block;
    margin-right:1vw;
    margin-left:1vw;
    margin-bottom:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
  }

  /* Sign In/Up */
  .signup_form{
    width:100%;
    margin-left:0%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    background-color:transparent;
    box-shadow:none;
  }

  .new_user_prompt{
    background-color:var(--interactable-bg-color);
    text-align:center;
    font-size:5vw;
    padding:0;
    padding-top:2%;
    padding-bottom:2%;
    width:50%;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    margin-left:25%;
    color:white;
    font-size:3vw;
    margin-top:3vw;
  }

  .sign_in_prompt{
    width:70%;
    text-align:center;
    margin:0;
    top:17vw;
    right:15%;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    color:white;
    font-size:3vw;
    padding-top:2vw;
    padding-bottom:2vw;
    position:absolute;
    background-color:var(--main-bg-color);
  }

  /* Task Manager */
  .create_task{
    width:100%;
    margin:0;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    box-shadow:none;
  }

  .task{
    width:50%;
    margin:25%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    background-color:var(--interactable-bg-color);
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
  } 

  .task_edit[type=submit]{
    width:50%;
    display:inline-block;
    background-color:var(--interactable-positive-bg-color);
    font-size:2vw;
    cursor:pointer;
  }

  .task_delete[type=submit]{
    width:50%;
    display:inline-block;
    background-color:var(--interactable-negative-bg-color);
    font-size:2vw;
    cursor:pointer;
  }

  .task_title{
    font-size:3vw;
    color:white;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    margin-bottom:2vw;
    padding-top:1vw;
    padding-bottom:1vw;
  }

  .task_notes{
    color:white;
    font-size:2vw;
    margin-bottom:2vw;
  }

  .task_title_form[type=text]{
    width:50%;
    font-size:2vw;
  }

  .task_notes_form[type=text]{
    width:50%;
    font-size:2vw;
  }

  .task_create[type=submit]{
    width:50%;
    background-color:var(--interactable-positive-bg-color);
    font-size:2vw;
    cursor:pointer;
  }

  .task_add[type=button]{
    width:24.85%;
    background-color:var(--interactable-neutral-bg-color);
    font-size:3vw;
    border:none;
    color:white;
    cursor:pointer;
  }

  .task_remove[type=button]{
    width:24.85%;
    background-color:var(--interactable-negative-bg-color);
    font-size:3vw;
    border:none;
    color:white;
    cursor:pointer;
  }

  /* Profile */
  .profile{
    width:50%;
    margin-left:25%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    font-size:2vw;
  }

  .profile_name{
    width:50%;
    margin-left:25%;
    color:white;
    text-align:center;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    font-size:2vw;
    padding-top:1vw;
    padding-bottom:1vw;
  }

  .history{
    width:50%;
    margin-left:25%;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    font-size:3vw;
    cursor:pointer;
  }

  /* Calculator */
  .calculator{
    width:50%;
    margin-left:39%;
    overflow:hidden;
    white-space:nowrap;
  }

  .calculator_button{
    width:5vw;
    height:5vw;
    display:inline-block;
    margin-bottom:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    font-size:1vw;
    cursor:pointer;
  }

  .calculator_clear_button{
    width:20.75vw;
    height:5vw;
    display:inline-block;
    margin-bottom:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    font-size:1vw;
    cursor:pointer;
  }

  .calculator_basic_operation_button{
    width:5vw;
    height:5vw;
    display:inline-block;
    margin-bottom:1vw;
    box-shadow:0px 0px 1vw rgba(0, 0, 0, 0.25);
    font-size:1vw;
    cursor:pointer;
  }

  .calculator_result[type=text]{
    margin-bottom:2vw;
    width:20.75vw;
  }
}